<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="dao.UserMapper">
    <!--根据id查询User
        id:唯一id
        parameterType:传入的参数类型
        resultType：查询以后返回的类型
    -->
    <select id="selectByid2" parameterType="java.lang.Integer" resultType="user">
        SELECT * from user where id = #{id}
    </select>

    <select id="selectAllUser" resultType="user">
        select * from user
    </select>

    <insert id="insertByUser" parameterType="domain.User">
        INSERT into user(name,sex,address) VALUES(#{name},#{sex},#{address})
    </insert>

    <update id="editByUserId" parameterType="domain.User">
        UPDATE user
        <set>
            <if test ='null != name'>name = #{name},</if>
            <if test ='null != address'>address = #{address},</if>
            <if test ='null != birthday'>birthday = #{birthday},</if>
            <if test ='null != sex'>sex = #{sex}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>